.tarolo {
    min-width: 640px; /* A böngésző ablak 80%-a */
    max-width: 640px; /* Maximum szélesség */
    margin: 0 auto; /* Középre igazítás */
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.fejlec {
    background-image: url("images/hero.jpg");
    height: 100vh;
    background-size: cover; /* Korrigált sor: background-size hozzáadva */
    background-color: black; /* Háttér szín korrigálva: cover nem érvényes */
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.fejlec h1{
    margin-top: 50px;
    margin-bottom: 10px;
}


.menu ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top:30px;
}


.menu ul li {
    color: white;
    background-color: darkorange;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    margin-top: 40px;
    
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-size: small;
}

.menu a:hover{
    color:black
}

.fejlec p{
    margin-bottom: 30px;
}

.cicakeres {
    font-size: small;
    text-decoration: none;
    color: white;
    background-color: darkorange;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 20px;
    margin-top: 40px;
}

.cicakeres a:hover{
    color: black;
}

#macsalandh1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.cicaelete {
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    height: 700px;;
}

.menu2 ul {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    list-style: none;
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
}

.menu2 ul li {
    color: white;
    background-color: darkorange;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}



.cicaelete h2{
    margin-top: 20px;
    margin-bottom: 5px;
}

.cicaelete p{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 15px;
    font-size: small;
}

.cicaelete a {
    color: white;
    font-size: 18px;
}

.cicaelete a:hover{
    color:black;
}




.hatszaz{
    height: 600px;
} 

.kinticicak{
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.kinticicak h2{
    margin-top: 20px;
    margin-bottom: 5px;
}

.elsobekezdes{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 15px;
    font-size: small;
}

.kinticicak ul{
    
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 15px;
    text-align: left;
}

.menu2 a{
    font-size: small;
}

#masodikbekezdes{
    font-size: 18px;
   margin-bottom: 5px;
}

.kinticicakep{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0;
}

.kinticicakep img{
   margin: 0;
   margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    width: 180px;
    height: 200px;
}

.cicatszeretnek ul{
    list-style-type: none;
    margin-top: 10px;
    margin-right: 180px;
    margin-left: 180px;
    list-style: none;
    display: grid;
    padding: 0;
    grid-template-columns: 1fr ;
    text-align: center;
    font-size: small;
}

.cicatszeretnek ul li {
    color: white;
    background-color: darkorange;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-size: small;
}



.fedezfel h2{
    text-align: center;
}

.nagytippek{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.tippek{
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.tippek ul{
    border-radius: 20px;
    background-color: darkorange;
    margin-left: 80px;
    margin-right: 80px;
    list-style: none;
   
}

.tippek li{
    text-align: center;
}
.tippek a {
    color:white;
    background-color: darkorange;
    font-size: 18px;
   
}

.tippek a:hover{
    color: black;
}

.tippek span{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.tippek p{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
}

.bal{
    text-align: left;
}

.tippek img {
    width: 80px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    
}

.sortorles{
    clear: both;
}

.tippek a{
    font-size: small;}




.nagyesemeny{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.kisesemenyek{
    border-radius: 20px;
    border: 3px solid lightgray;
    background-color: rgb(48, 47, 47);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.kisesemenyek p{
    text-align: left;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 10px;
}

.kisesemenyek ul li{
    border-radius: 20px;
    border: 3px solid darkorange;
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: small;}

.kisesemenyek a {
    color:white;
    font-size: 18px;
    text-align: center;
    align-items: center;
}

.kisesemenyek a:hover{
    color:black;
}

.kisesemenyek a{
    font-size: small;
}